
body{
    background-color: dimgray;
}


 header{
    text-align: end; 
 } 
h3{
    display: flex;
    justify-content: space-around;
    border: 3px dotted rgb(0, 110, 255);
    text-decoration: solid;
    background-color: rgb(67, 65, 65);
    color:rgb(0, 110, 255);
    font-style: italic;
}
h2{
    text-decoration: underline;
}



h1{
    display: flex;
    justify-content: center;
    background-color: rgb(67, 65, 65);
    text-decoration: underline;
    color: rgb(0, 110, 255);
}
section{
    
    display:flex;
    justify-content: center;
    
}
.HomepageBox{
    display:flex;
    flex-direction: column;
    background-color:rgb(0, 110, 255); ;
    justify-content: space-around;
}
#gymBox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(228, 226, 226);
    border: 2px solid black;
    
    
}
#petBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(228, 226, 226);
    border: 2px solid black;
}

#barBox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(228, 226, 226);
    border: 2px solid black;
}
#gym{
    height: 100px;
    width:200px;
}
#pit{
    height: 100px;
    width: 200px;
    padding-left: 50px;
}
#bar{
    height: 100px;
    width: 200px;
    
}
#bartending{
    padding-top: 5rem;
}
 #links{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
 }